.tabs {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid #ddd;
    margin-bottom: 1rem;
}

.tab {
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    margin-right: 4px;
    border-radius: 6px 6px 0 0;
}

    .tab:hover {
        background-color: #eaeaea;
    }

    .tab.active {
        background-color: white;
        border-color: #ddd;
        border-bottom: 2px solid white;
    }

.tab-content {
    padding: 16px;
    background-color: white;
}
