@page "/techniciansView"
@using MachineMaintenanceScheduler.Features.Technicians.Interface
@using MachineMaintenanceScheduler.Features.Technicians.Models
@using MachineMaintenanceScheduler.Features.Technicians.ViewModels
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Technicians</PageTitle>

<h1>Technicians</h1>

@if (!technicians.Any())
{
    <p>No technicians available.</p>
}
else
{
    @foreach (var technician in technicians)
    {
        @technician.Forename @technician.Surname
        <ul>
            @if (technician.SkillNames != null && technician.SkillNames.Any())
            {
                @foreach (var skillName in technician.SkillNames)
                {
                    <li>
                        @skillName
                    </li>
                }
            }
        </ul>
    }
}

@code {

    #region Variables
    private List<TechnicianWithSkillsViewModel> technicians = new();
    #endregion

    #region Injected Services
    [Inject] public ITechnicianService _technicianService { get; set; } = default!;
    #endregion

    #region Lifecycle Methods

    protected override async Task OnInitializedAsync()
    {
        await LoadTechniciansAsync();
    }

    #endregion

    #region Data Loading 

    private async Task LoadTechniciansAsync()
    {
        technicians = await _technicianService.GetTechniciansWithSkillsAsync();
    }

    #endregion

}