@using MachineMaintenanceScheduler.Features.Skills.Models
@using MachineMaintenanceScheduler.Shared.Layout

<Modal Title="Update Skill"
       IsVisible="@IsVisible"
       OnClose="OnClose">
    <ChildContent>
        <label>Name:</label>
        <input class="form-control" @bind="EditableSkill.Name" />
    </ChildContent>

    <FooterContent>
        <button class="btn btn-primary" @onclick="ConfirmUpdate">Save</button>
        <button class="btn btn-secondary" @onclick="OnClose">Cancel</button>
    </FooterContent>
</Modal>



@code {
    [Parameter] public bool IsVisible { get; set; }

    [Parameter] public Skill SkillToEdit { get; set; } = new();
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback<Skill> OnUpdate { get; set; }

    private Skill EditableSkill { get; set; } = new();


    protected override void OnParametersSet()
    {
        if (SkillToEdit is not null)
        {
            // Clone to avoid 2-way binding issues before Save
            EditableSkill = new Skill 
            {
                Id = SkillToEdit.Id,
                Name = SkillToEdit.Name
            };
        }
    }



    private async Task ConfirmUpdate()
    {
        await OnUpdate.InvokeAsync(EditableSkill);
        await OnClose.InvokeAsync();
    }
}
